/*  your css code here. If applicable */
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 40px;
    max-width: 900px;
    text-align: center;
}

#verification_heading {
    margin-bottom: 10px;
}

#verification_subtext {
    color: #333;
    line-height: 1.5;
    margin-bottom: 30px;
}

.code-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.code {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 80px;
    height: 150px;
    width: 120px;
    text-align: center;
    font-weight: 300;
    color: #757575;
}

/* Removes arrows from number input */
.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.code:focus {
    outline: none;
    border: 2px solid #000;
}

.info-box {
    background-color: #ebebeb;
    padding: 15px;
    border-radius: 5px;
    color: #888;
    font-size: 14px;
    display: inline-block;
}